<div class="container">
  <h1 class="main-header">Possibly Relevant Information</h1>
  <!-- <img src="https://i.imgur.com/RfjKEsP.gif" /> -->
  <img src="https://images.gamebanana.com/img/ico/sprays/coptershyguy2_2.gif" />

  <div class="qna-main">
    <div class="qna">
      <h2 class="question-header">What was this site made with?</h2>
      <p class="answer-text">
        MySQL, Angular, Spring Boot, and various Amazon Web Services.
      </p>
    </div>

    <div class="qna">
      <h2 class="question-header">Can I see the source code?</h2>
      <p class="answer-text">
        <a href="https://github.com/as9vd/BetterGeniusAnalysis">Here you go.</a>
      </p>
    </div>
  </div>
</div>
