* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 10px;
  overflow: hidden;
}

.container {
  background-color: #212121;
  max-width: 100%;
  max-height: 100%;
  width: 100vw;
  height: 90vh;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-header {
  color: #d8dee9;
  font-size: 3.6rem;
  font-weight: 600;
  margin-top: 2.4rem;
}

.qna-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-top: 0.8rem;
}

img {
  max-width: 4%;
  max-height: auto;
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
}

.qna {
  /* margin-top: 1.2rem; */
  color: #eceff4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.question-header {
  color: #eceff4;
  font-weight: 700;
  letter-spacing: -0.5px;
  font-size: 2.2rem;
  animation: color-change 5s infinite;
}

.answer-text {
  margin-top: 0.6rem;
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: 0.2px;
  margin-bottom: 0.8rem;
}

.answer-text a {
  color: #eceff4;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 400;
}

@keyframes color-change {
  0% {
    color: #deeeec;
  }
  20% {
    color: #d8dee9;
  }
  40% {
    color: #e0f1ff;
  }
  60% {
    color: #e1eaff;
  }
  80% {
    color: #e5e9f0;
  }
  100% {
    color: #deeeec;
  }
}
