<div class="container">
  <div class="qna-main">
    <div class="qna">
      <h2 class="question-header">What is the purpose of this site? 🤔</h2>
      <p class="answer-text">
        I wanted to practice some cool skills of mine (e.g. Spring Boot,
        Angular, Docker, MySQL, etc). So I decided to make a website.
      </p>
    </div>

    <div class="qna">
      <h2 class="question-header">
        What can I expect from you in the future? 👽
      </h2>
      <p class="answer-text">
        Quality projects. I'm a smart guy and a quick learner. Like SAINt JHN
        says, I'm something you should believe in.
      </p>
    </div>

    <div class="qna">
      <h2 class="question-header">Where can I see the source code? 🧶</h2>
      <p class="answer-text">
        <a href="https://github.com/as9vd/BetterGeniusAnalysis"
          >Here you go bud.</a
        >
      </p>
    </div>
  </div>
</div>
