<div class="container">
    <h1 class="main-header">Info</h1>
    <div class="qna-main">
        <div class="qna">
            <h2 class="question-header">What is the purpose of this site?</h2>
            <p class="answer-text">a</p>
        </div>

        <div class="qna">
            <h2 class="question-header">What is the purpose of this site?</h2>
            <p class="answer-text"></p>
        </div>

        <div class="qna">
            <h2 class="question-header">What is the purpose of this site?</h2>
            <p class="answer-text"></p>
        </div>

        <div class="qna">
            <h2 class="question-header">What is the purpose of this site?</h2>
            <p class="answer-text"></p>
        </div>
    </div>
</div>