* {
  margin: 0 0;
  padding: 0;
  font-size: 10px;
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin-top: -1.6rem;
  gap: 1.6rem;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
}

input {
  color: #212121;
  width: 75%;
  max-height: 25%;
  height: 25%;
  font-size: 1.6rem;
  padding: 1rem;
  background-color: white;
  border: none;
  border-width: 0;
  border: 0;
  transition: 0.25s all;
  word-break: break-all;
}

input:focus {
  font-size: 1.7rem;
  overflow: hidden;
  outline: none;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 4.8rem;
}

.buttons button {
  /* color: #212121; */
  font-size: 1rem;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  border-radius: 0.4rem;
  height: 3.2rem;
  width: 8rem;
  transition-duration: 0.2s;

  margin-top: 0.3rem;
}

.buttons button:focus {
  animation: shake 0.3s;
  animation-iteration-count: 4;
  /* background-color: #00BFC8; */
}

.buttons button:active {
  /* background-color: #27a0c6; */
}

.btn-json {
  color: #eceff4;
  /* background-color: #5e81ac; */
  background-color: #4c566a;
  border-color: #4c566a;
  border: none;
  border-width: 0;
  border: 0;
}

.btn-json:hover {
  color: #212121;
  background-color: #eceff4;
  transform: rotate(5deg);
  cursor: pointer;
}

.btn-text {
  color: #eceff4;
  background-color: #5e81ac;
  opacity: 0.35;
  position: relative;
}

.btn-text:before {
  content: "Coming Soon!";
  display: inline-block;
  width: 55%;
  height: 15px;
  opacity: 1;
  font-size: 10px;
  position: absolute;
  right: -27.5%;
  top: -5%;
  transform: rotate(45deg);
  background-color: #dea01e;
  color: #212121;
  border-color: #212121;
  border-radius: 2px;
}

.btn-text:hover > .btn-text:after {
  background-color: #eceff4;
}

.buttons button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.download-section {
  width: 100%;
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  visibility: visible;
  transition: 1s all;
  transition-delay: 2s;
}

.successful-generate,
.unsuccessful-generate {
  color: white;
  margin: 0 auto;
  font-size: 1.2rem;
}

.disabled {
  display: none;
  visibility: hidden;
}

.enabled {
  visibility: visible;
  margin-top: 1rem;
}

.btn-generated {
  width: 15%;
  height: 3rem;
  color: #eceff4;
  background-color: #3d4756;
  transition: 0.25s all;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
}

.btn-generated:hover {
  height: 3.2rem;
  width: 16%;
  color: #212121;
  background-color: #eceff4;
}

.btn-generated:active {
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes anim-popoutin {
  0% {
    color: #eceff4;
    transform: scale(0);
    opacity: 0;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }

  25% {
    color: #3dd9b1;
    transform: scale(1.35);
    opacity: 1;
    text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
  }

  50% {
    color: #eceff4;
    transform: scale(1);
    opacity: 1;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    /* animate nothing to add pause at the end of animation */
    transform: scale(1);
    opacity: 1;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
  }
}

.fromtop {
  animation: 2s anim-fromtop linear infinite;
}

@keyframes anim-fromtop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  25% {
    opacity: 1;
    transform: translateY(0%);
  }

  50% {
  }

  100% {
  }
}

.pop-outin {
  animation: 2s anim-popoutin ease 1;
}

.btn-valid:focus {
  color: #212121;
  transition-delay: 0.2s;
  /* background-color: #9ced8d; */
}

.btn-invalid:focus {
  transition-delay: 0.2s;
  /* background-color: #c75f5a; */
}
