<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="header.component.css" />

<div class="container">
    <div class="background-pic">
        <h1 class="title">Genius Analysis Site</h1>
        <div class="links">
            <a href="analyser">Analyser</a>
            <p>•</p>
            <a href="questions">Questions</a>
        </div>
    </div>
    
</div>