<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="header.component.css" />

<div class="container">
    <h2 class="main-header">Genius Song Analysis</h2>
    <div class="buttons">
        <a href="#" class="header-button home-button">Home</a>
        <a href="#" class="header-button generator-button">JSON Generator</a>
        <a href="#" class="header-button questions-button">Questions?</a>
    </div>
</div>