<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="header.component.css" />

<body>
  <div class="container">
    <div class="title-text">
      <h1 class="title">🌛 Genius Analysis Site</h1>
      <div class="links">
        <!-- edit app.module.ts to fix the routes -->
        <a routerLink="/home">Home</a>
        <a routerLink="/popularSongs">Repository</a>
        <a routerLink="/faq">Info</a>
      </div>
    </div>
  </div>
</body>
