* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 10px;
  overflow: hidden;
}

.container {
  background-color: #212121;
  max-width: 100%;
  max-height: 90%;
  width: 100vw;
  height: 90vh;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-header {
  color: #d8dee9;
  font-size: 3.6rem;
  font-weight: 700;
  margin-top: 2.4rem;
  letter-spacing: -0.5px;
}

.instruction-text {
  margin-top: 2.4rem;
  justify-content: center;
  color: #d8dee9;
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
  letter-spacing: 0.2px;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
}

mat-form-field,
mat-select,
.cdk-overlay-pane {
  width: 75%;
}

::ng-deep mat-select::after {
  display: none;
}

mat-label {
  color: white;
  font-size: 1.2rem;
}

input {
  color: #212121;
  font-size: 1.6rem;
  padding: 0.8rem;
  background-color: white;
  border-radius: 5px;
}

mat-option {
  color: #212121;
  font-size: 1.2rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 50%;
  height: 60%;
  margin-top: 0.4rem;
}

.btn {
  width: 100%;
  height: 50%;
  font-size: 1.3rem;
  transition-duration: 0.2s;
  border-radius: 4px;
  margin-bottom: 1.2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0.625rem;
}

.btn:hover {
  color: #212121;
  background-color: #eceff4;
  /* transform: rotate(2.5deg); */
  transform: scale(1.0125);
  cursor: pointer;
}

.btn:active {
  background-color: #d08770;
  color: #eceff4;
}
