<head>
  <link rel="stylesheet" href="popular-songs.component.css" />
</head>

<div class="container">
  <h1 class="main-header">Repository</h1>
  <p class="instruction-text">
    Here are some songs that have been recently parsed.
  </p>
  <div class="buttons">
    <button
      *ngFor="let recent of recentsList"
      class="btn"
      (click)="onClick(recent.link)"
    >
      🔥
      {{
        recent.link.length < 50
          ? recent.link
          : recent.link.substring(0, 55) + "..."
      }}
    </button>
  </div>
</div>
